.table-container {
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
 
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-header h2 {
    font-size: 24px;
    color: #333;
}

.search-bar {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.admin-table th, .admin-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.admin-table th {
    background-color: #11101D;;
    color: white;
}

.admin-table td {
    font-size: 16px;
    color: #333;
}

.admin-table td .btn {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-table td .btn.view {
    background-color: #28a745;
    color: white;
}

.admin-table td .btn.edit {
    background-color: #ffc107;
    color: white;
}

.admin-table td .btn.delete {
    background-color: #dc3545;
    color: white;
}

.admin-table td .status {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.admin-table td .status.active {
    background-color: #28a745;
    color: white;
}

.admin-table td .status.inactive {
    background-color: #dc3545;
    color: white;
}

.admin-table input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
